// containers
$headerHeight: 4rem;
$minWidth: 550px;

// Colors
$lightBorder: #e4e4e4;
$lightGrey: #f5f5f5;
$backgroundGrey: #f1f1f1;
$fontLightGrey: #adadad;
$accentRed: #df6675;
$accentGreen: #47dc44;
$accentBlue: #4784de;
