@import "../../../styles/main.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $lightGrey;
  border-radius: 50%;
  padding: 1rem;
  color: $fontLightGrey;
  cursor: pointer;
  position: relative;

  &.alert {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0.9rem;
      height: 0.9rem;
      background-color: $accentRed;
      border-radius: 100%;
    }
  }
}
